html {
  height: 100%;
  width: 100%;
}

p {
  text-align: center;
  font-family: monospace;
  font-size: 17px;
  line-height: 150%;
  max-width: 50%;
  margin: 0 auto;
  padding-top: 10px;
}

h1 {
  text-align: center;
  font-size: 75px;
  font-family: monospace;
  margin-bottom: 0%;

}

h2 {
  text-align: center;
  font-size: 32px;
  font-family: monospace;
  padding-bottom: 0%;
}

h3 {
  text-align: center;
  font-size: 22px;
  font-family: monospace;
  padding-bottom: 35px;
}

h4{
  text-align: center;
  font-size: 22px;
  font-family: monospace;
  padding-top: 20px;
}


a {
    color: white;
    font-weight: bolder;
}

li {
  text-align: center;
  margin-top: 4%;
  font-weight: bolder;
  display: inline-block;
}

button {
  font-family: monospace;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
}
body {
  background-color: cornflowerblue;
  color: white;
  animation: fade 10s linear infinite;
}

@keyframes colorChange {
  0% { color: lightcoral; }
  25% { color: lightsteelblue; }
  50% { color: lightpink; }
  75% { color: lightgreen; }
  100% { color: lightcoral; }
}

h1 {
  text-align: center;
  font-size: 75px;
  font-family: monospace;
  margin-bottom: 0%;
  animation: colorChange 5s linear infinite;
}
